@import "scssTools/mixin";
@import "scssTools/mixins-transform";
@import "scssTools/reset";
@import "scssTools/color-variable.scss";

.active{
  background: $default_color !important;
  border:1px solid $default_color !important;
}

.weather{
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);

  width: 100%;
  min-height: 100%;
  background-color:$default_color;

  .settings{
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: right;
    color:$white_color;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 20px;

    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      right: 115px;
      top:4px;
      width: 30px;
      height: 30px;
      background: url("../public/images/wather-icon/settings.svg");
      background-size: 30px 30px;
      background-repeat: no-repeat;
    }
  }

  .current-day{
    @include flexbox;
    @include justify-content(space-around);
    @include flex-wrap(wrap);

    margin-bottom: 30px;

    .weather-icon{

      .big-image{

        svg{
          width:350px;
          height: 300px;

          use{
            fill:$white_color;
          }
        }
      }

      .weather-text-current{
        font-size: 30px;
        color: $white_color;
        text-align: center;
      }
    }

    .temperature{
      @include flexbox;
      @include justify-content(space-between);

      color:$white_color;


      .number{
        font-size: 200px;
      }
      .gradus{
        margin-top: 20px;

        .sub{
          font-size: 100px;
        }

        .sup{
          font-size: 50px;
          color: $white_color_2;
        }

      }
    }
  }

  .container{
    @include flexbox;
    @include justify-content(space-around);
    @include flex-wrap(wrap);

    background-color: $default_color_2;

    .column{
      @include flex(1);
      cursor: pointer;
      text-align: center;
      color:$white_color;
      border: 1px solid $border_color;

      .day{
        font-size: 40px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .temperature-small{
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 15px;

        .sup{
          font-size: 15px;
        }

      }
    }

  }
}
